# dependencies
node_modules/

# build outputs
dist/
dist-electron/
out/
release/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# editor / OS
.DS_Store
.vscode/
.idea/
*.tsbuildinfo
